.time {
    font-size: 100x;
    position: absolute;
    padding: 1%;
}

.card {
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
}

#crt {
    padding: 0.3%;
    position: fixed;
    right: 0;
    top: 0;
}

#bnnr {
    margin-top: 20px;
}

#con{
    max-width: 800px;
    max-height: 800px;
}

#weloveit{
    max-width: 800px;
    max-height: 600px;
}

#cardfim {
    max-width: 520px;
    width: 100%;
    margin: 20px auto 0 auto;
}

.row {
    padding: 20px;
}

.text-monospace {
    text-align: justify; 
    padding: 10%; 
    width: 100%; 
    margin: 0 auto; 
}

#txt {
    margin: 0 auto; 
    max-width: 800px; 
}

.container-fluid {
    max-width: 1140px; 
    margin-left: auto;
    margin-right: auto; 
}


#titulo {
    font-family: 'Times New Roman', Times, monospace;
    height: 50px;
    font-size: 50px;
}

#main {
    padding: 1%;
}

.img {
    max-width: 100%;
    height: auto;
}

.col-12.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1080px) {
    #cardfim {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;  
        margin-left: auto;
        margin-right: auto;
    }

    .card-body {
        font-size: 12px; 
    }

    .card-title {
        font-size: 14px; 
    }

    .btn {
        padding: 10px; 
    }

    .card-footer {
        font-size: 12px; 
    }
}

@media (max-width: 768px) {
    #cardfim {
        margin: 10px;
    }
    .card-body {
        font-size: 14px;
    }

    #titulo {
        font-size: 30px;
    }
}